

 /* body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
} */
.navbar-brand img {
    width: 148px; 
    height: auto; 
    max-height: 100px; 
}

.navbar {
    background-color:rgb(247, 225, 230); 
}
 
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
    font-size: 14px;
    padding: 10px 15px !important;
}

.nav-item:hover .nav-link {
    color: #8167a9 !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #8167a9;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
    margin-right: 20px;
}



/* #information
================================================== */
.First {
	background: linear-gradient(to right, rgb(147, 47, 222), rgb(249, 94, 151));
	padding: 10px 20px;
    color: white;
	/* box-shadow: 0 2px 5px rgb(35, 30, 109); */
	width: 100%;
}
.contact-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-info .left,
.contact-info .right {
	display: flex;
	gap: 20px;
}
.contact-info a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.contact-info img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}


/* img, indent */
.image-container {
    padding-top: 15px; 
  }
 .image-container img {
    width: 100%; 
    margin-bottom: 15px; 
  }

  .text-color {
    color: rgb(84, 73, 220); 
  }

.background1 {
    background-color: rgb(247, 225, 230);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 8px; 
}

.background2 {
    background-color: rgb(229, 228, 229);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;  
}

.background3 {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 8px;  
}


.background4 {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;  
}

.gap1 {
    margin-bottom: 5px;
    /* opacity: 0.7; */
}

.card1 {
    border: none; 
    box-shadow: none; 
    background-color: white;
    border-radius: 8px;  
    
  }
  


.circle-image {
    width: 94px; 
    height: 94px;
    border-radius: 50%; /* Biến hình ảnh thành hình tròn */
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
    }
.circle-image1 {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
    cursor: pointer; /* cho biết có thể click*/
    }

.underline {
    text-decoration: none; /* loại bỏ gạch chân*/
}

.radius-image {
    border-radius: 8px; 
    width: auto;
    height: 370px; 
    max-height: 370px; 
    }
.radius-image1 {
    border-radius: 8px; 
    width: auto;
    height: 250px; 
    max-height: 350px; 
    }

.box1 {
    background-color: rgb(84, 73, 220);
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    border: none; 
    
}

.box2 {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}
    
.min-img {
    width: auto;
    height: auto; 
    max-height: 500px; 
}


.img1 {
    block-size: 43px;
}



/* ================================================ */
/* search */
/* Tăng kích thước của ô tìm kiếm */
input {
    border: 1px solid #ccc;
    font-size: 16px; /* Tăng kích thước chữ */
    height: 40px; /* Tăng chiều cao của ô tìm kiếm */
    padding: 8px 16px; /* Tăng padding */
    position: relative; /* Đổi từ absolute sang relative để căn giữa dễ hơn */
    width: 150px; /* Tăng chiều rộng của ô tìm kiếm */
  }
  
  /* Loại bỏ outline khi ô tìm kiếm được focus */
  input:focus {
    outline: none;
  }
  
  /* Tăng kích thước và căn giữa các nút tìm kiếm */
  button {
    text-align: center;
  }
  
  button:focus {
    outline: none;
  }
  
  button.btn-search, button.btn-reset {
    background: hotpink;
    border: none;
    height: 40px; /* Tăng chiều cao của nút tìm kiếm */
    width: 40px; /* Tăng chiều rộng của nút tìm kiếm */
    display: flex;
    align-items: center; /* Căn giữa biểu tượng theo chiều dọc */
    justify-content: center; /* Căn giữa nội dung */
  }
  
  /* Điều chỉnh phần tìm kiếm */
  .sample {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa phần tìm kiếm trong khối */
    height: 50px;
    margin: 0 8%;
    position: relative;
    width: 100%; /* Đảm bảo phần tìm kiếm chiếm toàn bộ chiều rộng khối chứa */
  }
  
  /* Tăng kích thước và làm cho phần tìm kiếm mượt mà hơn khi focus */
  .sample.nine input {
    border-radius: 20px; /* Tăng độ cong của viền */
    transition: all .6s ease-in-out;
  }
  
  /* Kích thước khi focus */
  .sample.nine input:focus {
    width: 250px; /* Tăng chiều rộng khi ô tìm kiếm được focus */
  }
  
  /* Xoay nút tìm kiếm khi ô tìm kiếm được focus */
  .sample.nine input:focus ~ button {
    transform: rotateZ(360deg);
  }
  
  .sample.nine input:focus ~ button.btn-search {
    background: hotpink;
    color: #fff;
  }
  
  .sample.nine button {
    transition: all .6s ease-in-out;
  }
  
  /* Điều chỉnh kích thước và vị trí của nút tìm kiếm */
  .sample.nine button.btn-search {
    background: #ccc;
    border-radius: 50%;
    height: 40px; /* Tăng chiều cao của nút tìm kiếm */
    width: 40px; /* Tăng chiều rộng của nút tìm kiếm */
    margin-left: 5px; /* Khoảng cách giữa ô tìm kiếm và nút */
  }
  
  /* Điều chỉnh kích thước và vị trí của nút đặt lại */
  .sample.nine button.btn-reset {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 14px; /* Tăng kích thước chữ nếu cần */
    height: 30px; /* Tăng chiều cao của nút đặt lại */
    width: 30px; /* Tăng chiều rộng của nút đặt lại */
    margin-left: 5px; /* Khoảng cách giữa nút và ô tìm kiếm */
  }
  
/* Đảm bảo rằng các mục trong navbar-nav nằm trên cùng một dòng */
.navbar-nav {
    display: flex;
    flex-wrap: nowrap; /* Ngăn các mục xuống dòng */
  }
  
  /* Điều chỉnh khoảng cách giữa các mục */
  .navbar-nav .nav-item {
    margin-right: 20px; /* Tăng hoặc giảm khoảng cách giữa các mục */
  }
  
  /* Ngăn các liên kết trong navbar xuống dòng */
  .navbar-nav .nav-link {
    white-space: nowrap;
  }
  
  /* Nếu cần, điều chỉnh kích thước của các liên kết để vừa khung */
  .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem; /* Điều chỉnh padding để đảm bảo liên kết vừa khung */
  }
  


/* ================================================ */
/* login,signup */

.form-container {
    display: none; /* Ẩn form khi tải trang */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 8px;
}

.icon {
    cursor: pointer;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}


.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
    
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: rgb(222, 47, 187);
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: rgb(222, 47, 187);
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 20px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: rgb(255, 97, 121);
	transform: translateX(-30%);
}

.btn-login1 {
	transform: translateX(-30%);
}


.btn-signup {
	color: rgb(255, 97, 121);
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px rgb(255, 97, 121);
	transform: translateX(30%);
}
.btn-signup1 {
	transform: translateX(30%);
}





.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
}
.cover .back .text .text-1,
.cover .back .text .text-2{
  transform: rotateY(180deg);
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}

.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #7d2ae8;
}
.form-content .input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #5b13b9;
}
.forms .form-content label{
  color: #5b13b9;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}

.bg1 {
    background: linear-gradient(to right, rgb(147, 47, 222), rgb(249, 94, 151));
}


input[type="email"],
input[type="password"] {
    border-radius: 12px; 
    border: 2px solid #ccc; /* Màu viền mặc định */
    padding: 10px;
    outline: none; /* Loại bỏ viền mặc định khi nhấn vào */
    transition: border-color 0.3s ease; /* Thêm hiệu ứng chuyển đổi màu viền */
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: rgb(255, 97, 121);
}


.forgot {
    text-align: right;
    margin-top: 10px; 
    font-size: 14px; 
    color: white;
    text-decoration: underline;
    cursor: pointer; /* cho biết có thể click*/
}

.input-block input {
    height: 50px; /* Bạn có thể thay đổi giá trị này tùy ý */
    padding: 5px; /* Thay đổi khoảng cách bên trong nếu cần */
    font-size: 14px; /* Thay đổi kích thước chữ nếu cần */
}



/* ----------------------------------------------------------- */
/* like,star */
/* Enable box-sizing */
*, :before, :after {
  box-sizing: border-box;
}

/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Reset button */
button {
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  outline: none;
}


.button {
  z-index: 1;
  margin: 0.5em;
  color: #AAB2BD;
  font-size: 1rem;
  padding: 0.2em 0.6em;
  min-width: 2.4em;
  min-height: 2.4em;
  background: #f2f3f5;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  transition: background 0.2s;
  border-radius: 50%;
  
}
.button i {
  transition: 0.2s;
}
.button:hover, .button:focus {
  color: #8d98a7;
}
.button:hover:active i, .button:focus:active i {
  transform: scale(0.8);
}
.button.rounded {
  border-radius: 2em;
}
.button.is-loading {
  pointer-events: none;
  position: relative;
  color: transparent !important;
}
.button.is-loading:after {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1em;
  width: 1em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  -webkit-animation: loader-animation 600ms infinite linear;
          animation: loader-animation 600ms infinite linear;
  font-size: inherit;
  color: #AAB2BD !important;
  border: 0.2em solid;
  border-radius: 0.7em;
  border-right-color: transparent;
  border-top-color: transparent;
}
@-webkit-keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button.is-active {
  z-index: 2;
  color: white;
  background: #0076FF;
  -webkit-animation: 0.8s;
          animation: 0.8s;
}
.button.is-active:before, .button.is-active:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -2px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transform: scale(0);
  color: #AAB2BD;
  border: 1px solid transparent;
  box-shadow: -0.8em 0 0 -2px, 0.8em 0 0 -2px, 0 -0.8em 0 -2px, 0 0.8em 0 -2px, -0.6em -0.6em 0 -2px, -0.6em 0.6em 0 -2px, 0.6em -0.6em 0 -2px, 0.6em 0.6em 0 -2px;
}
.button.is-active:before {
  -webkit-animation: effect-01-animation 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: effect-01-animation 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.button.is-active:after {
  -webkit-animation: effect-02-animation 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: effect-02-animation 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@-webkit-keyframes effect-01-animation {
  from {
    transform: rotate(-15deg) scale(0);
  }
  40% {
    opacity: 1;
  }
  to {
    transform: rotate(-30deg) scale(2.5);
    opacity: 0;
  }
}
@keyframes effect-01-animation {
  from {
    transform: rotate(-15deg) scale(0);
  }
  40% {
    opacity: 1;
  }
  to {
    transform: rotate(-30deg) scale(2.5);
    opacity: 0;
  }
}
@-webkit-keyframes effect-02-animation {
  from {
    transform: rotate(10deg) scale(0);
  }
  40% {
    opacity: 1;
  }
  to {
    transform: rotate(30deg) scale(2);
    opacity: 0;
  }
}
@keyframes effect-02-animation {
  from {
    transform: rotate(10deg) scale(0);
  }
  40% {
    opacity: 1;
  }
  to {
    transform: rotate(30deg) scale(2);
    opacity: 0;
  }
}

.button.fav:before, .button.fav:after {
  color: #F6BB42;
}
.button.fav.is-active {
  background: #F6BB42;
}
.button.thumb:before, .button.thumb:after {
  color: #cc4896;
}
.button.thumb.is-active {
  background: #cc4896;
}


/* chu */
.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



/* chử chạy */

.content__container {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
  white-space: nowrap; /* Giữ văn bản trên một dòng */
  width: 100%; /* Hoặc một giá trị cụ thể như `width: 300px;` */
  max-width: 100%; /* Giới hạn chiều rộng để nó không tràn ra ngoài */
}
.content__container1 {
  position: absolute;
  top: 170px;
  left: 200px;
  transform: translate(-50%, -50%);
  z-index: 1;
  white-space: nowrap; /* Giữ văn bản trên một dòng */
  width: 100%; /* Hoặc một giá trị cụ thể như `width: 300px;` */
  max-width: 100%; /* Giới hạn chiều rộng để nó không tràn ra ngoài */
}
.content__container2 {
  position: absolute;
  top: 220px;
  left: 200px;
  transform: translate(-50%, -50%);
  z-index: 1;
  white-space: nowrap; /* Giữ văn bản trên một dòng */
  width: 100%; /* Hoặc một giá trị cụ thể như `width: 300px;` */
  max-width: 100%; /* Giới hạn chiều rộng để nó không tràn ra ngoài */
}

.content__container:before {
  content: "[";
  left: 0;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: rgb(203, 72, 179);
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}



@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}


.content__container__list__item1 {
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 0;
  animation: moveUp 10s infinite;
}

.content__container__list__item1:nth-child(1) {
  animation-delay: 0s;
}

.content__container__list__item1:nth-child(2) {
  animation-delay: 5s;
}


.content__container__text {
  padding-left: 35px;
  display: inline;
  margin: 0;
}

.content__container__list {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 40px; /* Giữ cùng chiều cao với nội dung */
}

.content__container__list__item {
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 0;
  animation: moveUp 7.5s infinite;
}

.content__container__list__item:nth-child(1) {
  animation-delay: 0s;
}

.content__container__list__item:nth-child(2) {
  animation-delay: 2.5s;
}

.content__container__list__item:nth-child(3) {
  animation-delay: 5s;
}



@keyframes moveUp {
  0%, 20% {
    opacity: 0;
    transform: translateY(100%);
  }
  20%, 50% {
    opacity: 1;
    transform: translateY(0);
  }
  50%, 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.content {
  position: relative;
  width: 100%; /* Đảm bảo nội dung chiếm toàn bộ chiều rộng của cột */
  height: 100%; /* Giữ nguyên chiều cao hoặc tùy chỉnh nếu cần */
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: rgb(248, 93, 154);
}

.img-radius {
  border-radius: 8px; /* Tạo góc bo tròn */
}

/* css phần ảnh bài viết */


.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

p {
  line-height: 1.5em;
}

h1 + p, p + p {
  margin-top: 10px;
}

.container1 {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Đảm bảo thẻ được căn giữa */
}

.card-wrap {
  margin: 20px; /* Khoảng cách mới giữa các thẻ */
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card-info {
  transform: translateY(0);
}

.card-wrap:hover .card-info p {
  opacity: 1;
}

.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}

.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}

.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 300px; /* Kích thước mới của thẻ */
  width: 300px; /* Kích thước mới của thẻ */
  height: 400px; /* Kích thước mới của thẻ */
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
  position: relative;
  z-index: 1;
}

.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}
